[Desktop Entry]
Version=1.0
Type=Application
Name=Something
Comment=7i92 Configuration Tool
Exec=7i92
Icon=/usr/share/pixmaps/linuxcncicon.png
Categories=X-CNC;
Terminal=false
StartupNotify=true
StartupWMClass=7i92
Name[en_US]=7i92 Configurator
